body{
    background-color:#FFFFFF ;
    background-size: 100%;
}
h2{
    text-align: center;
}
.container{
    margin-top: 100px;
    margin-left: 350px;
    text-align:center;
    background-color: #262424;
    padding: 30px;
    width: 50%;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:1px solid black;
    box-shadow: 10px,10px,10px;
}

.datainput{
    width: 200px;
    padding: 5px;
    font-weight: 500;
    font-size: medium;
}
.mainbutton{
    background-color: coral;
    color: white;
    border: 1px solid white;
    width:100px;
    font-size: medium;
    font-weight: 700;}
input#result{
    width: 200px;
    padding: 5px;
    font-size: medium;
}
